html { 
  background: url(space_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 24px;
    border: 1px solid transparent;
}
    
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.6);
}
    
.navbar-fixed-top {
    z-index: 1030;
    top: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-toggle {
    display: none;
}

.navbar-brand {
    float: left;
    padding: 13px 15px;
    font-size: 19px;
    line-height: 24px;
    color: #fff;
}


.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
    color: #fff;
}

.collapse {
    display: none;
}

nav {
    font-weight: 300;
    letter-spacing: 1px;
}

.navbar-nav {
    margin: 6.5px -15px;
}

.navbar-right {
    float: right !important;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
li {
    color: white;
}
a:link {
    color: white
}

name-container {
    position: absolute;
    left: 375.5px;
    top: 279px;
    opacity: 1;
}

h1, h2 {
    color: #fff;
    text-align: center;
    font-size: 4em;
}


